@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap");

:root {
  --font-gaming-primary: "Silkscreen", cursive;
  --font-gaming-secondary: "Alumni Sans", sans-serif;
}

.tennis-score-table-container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.winner {
  color: limegreen;
  font-size: 75px;
  text-align: center;
}

.score-container {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.player {
  color: white;
  text-align: center;
  height: 100%;
}

.score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 20px;
  border: 1px solid white;
  height: 70%;
}

h1 {
  font-family: var(--font-gaming-primary);
  font-size: 60px;
  margin: 0;
}

h2 {
  font-family: var(--font-gaming-primary);
  font-size: 50px;
  margin: 0;
}

.advantage {
  color: limegreen;
}

.play-button-container {
  display: flex;
  padding-top: 20px;
  gap: 20rem;
}

.--button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 35px;
  padding: 15px 45px;
  font-family: var(--font-gaming-secondary);
}
